<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ static_url('favicon.ico') }}"/>
    <title>Godolphin</title>
    <!–[if lt IE 9]>
    <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <![endif]–>
    <link rel="stylesheet" type="text/css" href="{{ static_url('v2.0/css/common.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('v2.0/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('v2.0/css/swiper.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('v2.0/css/style.css') }}?v=1.0"/>

</head>
<body>
<section class="site-nav">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Godolphin</a>
                    <div class="navbar-site">
                        <a href="/ch">CH</a><span>/</span><a href="/en">EN</a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <a href="{{ reverse_url('main_index',language) }}">{{ i18n[language]['home'] }}</a>
                    <span>|</span>
                    <a href="{{ reverse_url('main_events',language) }}">{{ i18n[language]['events'] }}</a>
                    <span>|</span>
                    <a href="{{ reverse_url('main_about',language) }}">{{ i18n[language]['about'] }}</a>
                    <span>|</span>
                    <a href="{{ reverse_url('main_contact',language) }}">{{ i18n[language]['contact'] }}</a>
                    <span>|</span>
                    <a href="{{ reverse_url('main_wow',language) }}">{{ i18n[language]['wow'] }}</a>
                    <span>|</span>
                    <a href="{{ reverse_url('main_news',language) }}">{{ i18n[language]['news'] }}</a>
                    <span>|</span>
                    <a href="{{ reverse_url('main_search',language) }}">{{ i18n[language]['search'] }}</a>
                </div>
            </div>
        </nav>
    </div>
</section>

<header class="site-header">
    <div class="container swiper-container">
        <div class="swiper-wrapper">
            {% for c in carousel %}
            <div class="swiper-slide"
                 style="background:url({{ c['web_cover'] }}{{'?type=wap' if theme else ''}}) no-repeat center center;">
            </div>
            {% end %}
        </div>
        <div class="ht"></div>
    </div>
</header>
<section class="main">
    <div class="container">
        <div class="row">
            {% for index,e in enumerate(entrance) %}
            <div class="col-md-4">
                <h2>
                    <a href="{{ e[language + '_url']}}">
                        {{ i18n[language]['title'+ str(index+1)] }}
                    </a>
                    <span class="icon"></span>
                </h2>
                <div class="column-box">
                    <div class="column-img">
                        <div class="img-con">
                            <div class="pic-box">
                                <a href="{{ e[language + '_url']}}">
                                    <img src="http://www.godolphin.org.cn{{ e['cover']}}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column-summary">
                        {{ e[language + '_summary']}}
                    </div>
                </div>
            </div>
            {% end %}
        </div>
    </div>
</section>
<footer class="site-footer clearfix">
    <div class="container">
        <p class="copyright">Powered by godolphin.org.cn Copyright ©2016 哥德芬.all rights reserved</p>
    </div>
</footer>
<script src='../../static/v2.0/js/jquery.js?v=1.12.3'></script>
<script src='../../static/v2.0/js/bootstrap.min.js?v=3.3.0'></script>
<script src="../../static/v2.0/js/swiper.min.js"></script>
<script src="../../static/v2.0/js/index.js"></script>
</body>
</html>