<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="icon" href="{{ static_url('favicon.ico') }}"/>
    <title>哥德芬</title>
    <!–[if lt IE 9]>
    <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <![endif]–>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap/gdf.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/common.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}"/>

</head>
<body>
<div class="navbar-wrapper" style="">

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="item-box">
                        <div class="item-con">
                            <div class="item-detail-con">
                                <div class="item-detail"
                                     style="width: 100%;height: 394px; line-height:394px;  text-align: center;font-size: 32px;padding:0 40px;">
                                    建设中，敬请期待
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<footer class="site-footer clearfix">-->
<!--<div class="container">-->
<!--<p class="copyright">Powered by godolphin.org.cn Copyright ©2016 哥德芬.all rights reserved</p>-->
<!--</div>-->
<!--</footer>-->


<script src="{{ static_url('js/jquery.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>


</body>
</html>