{% extends "base.html" %}



{% block title %}编辑轮播图{% end %}

{% block page_content %}

<div class="page-header">
    <h1>编辑轮播图</h1>
    {% module Template("widget/return_back.html") %}
</div>
<div class="col-md-4">
    <form action="{{ reverse_url('manage_design_carousel_detail') }}" class="form form-horizontal" method="post" role="form">
        <input class="form-control" id="id" name="id" type="hidden" value="{{ slider.id }}">


        {% module Template("widget/text.html",title='中文标题',id='ch_title',value=slider.ch_title) %}
        {% module Template("widget/text.html",title='英文标题',id='en_title',value=slider.en_title) %}


        {% module Template("widget/fileinput.html",title='轮播图',id='web_cover',tips='',img=slider.web_cover,h=80,w=240,file_num=1) %}


        <div class="form-group ">
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交">
        </div>
    </form>


</div>
{% end %}

{% block js %}

{% end %}
