{% extends "base.html" %}



{% block title %}推荐词{% end %}

{% block css %}

{% end %}
{% block page_content %}
<div class="page-header">
    <h1>推荐词</h1>
    {% module Template("widget/return_back.html") %}
</div>
<div class="col-md-4">
    <form action="{{ reverse_url('manage_hotword_detail') }}" class="form form-horizontal" method="post" role="form">
        <input class="form-control" id="id" name="id" type="hidden" value="{{ hotword['id'] }}">


        {% module Template("widget/text.html",title='中文标题',id='ch_title',value=hotword['ch_title']) %}
        {% module Template("widget/text.html",title='英文标题',id='en_title',value=hotword['en_title']) %}

        <div class="form-group ">
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交">
        </div>
    </form>


</div>
{% end %}

{% block js %}

{% end %}
