{% extends "base.html" %}


{% block title %}
godolphin | What We Do
{% end %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static_url('design/css/about.css') }}"/>
{% end %}

{% block js %}

{% end %}


{% block content %}
<div class="design-bg">
    <div class="container w1000">
        {% for row in rows %}
        {% set st = ['','switch-box','half-box']%}
        {% set co = ['','item-theme-dark','item-theme-gray']%}
        {% if row['stype'] != 3 %}
            <div class="item-box {{ st[row['stype']] }} {{ co[row['color']] }}">
                <div class="item-con">
                    <div class="item-detail-con">
                        <div class="item-image w588">
                            <img src="{{ row['web_cover'] if theme else  row['wap_cover'] }}" alt=""/>
                        </div>
                        <div class="item-detail w40">
                            <p class="item-state">{{ row[language + '_title']}}</p>
                            <p class="item-remark">{% raw row[language + '_content'] %}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="item-box full-box">
                <div class="item-con">
                    <div class="item-detail-con">
                        <a href="" class="item-link">
                        </a>
                        <div class="item-image">
                            <img src="{{ row['web_cover'] if theme else  row['wap_cover'] }}"
                                 alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        {% end %}
        {% end %}
    </div>
    <div class="other">
        <a href="{{ reverse_url('design_about2',language) }}" class="other-title fl">{{ i18n[language]['wwa'] }}</a>
        <div class="other-icon fr">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="-9.365385448539655 -21.376929136422966 212.6307829133757 87.55385178786058"
                 preserveAspectRatio="xMidYMid meet" style="stroke-width: 11px;">
                <g>
                    <path d="M191.7 30.8c-.1-.2-.2-.4-.3-.5l-8.1-8.1 7.6-7.6c.1-.1.1-.1.1-.2v-.1c.3-.5.3-1 0-1.5v-.1c0-.1-.1-.1-.1-.2 0 0-.1-.1-.2-.1-.1-.1-.1-.1-.2-.1s-.1-.1-.2-.1-.3-.1-.4-.1h-25.7c-.4 0-.7.1-1 .4l-8.4 8.4H24.2v-6.5c0-.5-.2-.9-.6-1.2-.4-.3-.9-.3-1.3-.1L3 21.2c-.5.2-.9.7-.9 1.3 0 .6.3 1.1.9 1.3l19.3 7.9c.2.1.4.1.5.1.3 0 .5-.1.8-.2.4-.3.6-.7.6-1.2v-6.5h131.1l8.4 8.4c.3.3.7.4 1.1.4h25.6c.2 0 .4 0 .5-.1.3-.1.6-.4.8-.8.1-.2.1-.3.1-.5s0-.3-.1-.5z"></path>
                </g>
            </svg>
        </div>
    </div>
</div>
{% end %}

