html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
body, dl, dd, p, ul, li, h1, h2, h3, form, input, textarea, select{padding: 0;margin: 0;}
body{background:#fff;font-size:14px;font-family:"Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", Arial Unicode MS, Arial, Helvetica, sans-serif !important;color:#333;}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-regular-webfont.woff') format('woff'),
    url('fonts/opensans-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Marzo-W00-Regular";
    src: url("fonts/45563891-20ab-4087-b16c-b3cfc26faac1.eot?#iefix");
    src: url("fonts/45563891-20ab-4087-b16c-b3cfc26faac1.eot?#iefix") format("eot"),url("fonts/e947b76a-edcf-4519-bc3d-c2da35865717.woff") format("woff"),url("fonts/c09cb36e-5e79-4033-b854-41e57fbf44fa.ttf") format("truetype");
}

a{background-color: transparent;text-decoration: none;color: inherit;}
a:active,a:hover{outline: 0;}
img{border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
ul,li{list-style: none;}
.clearfix{*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
button, input, optgroup, select, textarea {color: inherit;font: inherit;}
input {line-height: normal;}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px white inset;}

.fl{float: left !important;}
.fr{float: right !important;}

.no-dis{display:none !important;}

.auto-h{height:auto !important;}
.bg-color-white{background-color: #fff !important;}
.w550{width:550px !important;}
.w1000{width:1000px !important;}

.navbar-header{float:none;text-align:center;}
.navbar-default{margin-bottom:0;background:#fff;border:none;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{background: none;}
.navbar-header .navbar-brand{float:none;font-family:marzo-w00-regular,fantasy;font-size:51px;color:#3e3e3e;}
.navbar-header .navbar-site{position:absolute;right:0;top:0;}
.navbar-header .navbar-site a{font-family:marzo-w00-regular,fantasy;font-size:22px;color:#3e3e3e;text-decoration:none;}
.navbar-header .navbar-site a:hover{color:#756464;}
.navbar-header .navbar-site span{margin:0 10px;font-size:20px;color:#efefef;}
.navbar-nav{float: none;width:540px;margin:0 auto;}
.navbar-nav>li>a.f-child{font-family: 'Open Sans',sans-serif;color:#ababab;font-size:12px;}
.navbar-nav>li.active a.f-child,.navbar-nav>li:hover a.f-child{background:none !important;color:#756464;}
.dropdown-menu>li a{font-family: 'Open Sans',sans-serif;font-size:12px;}

@media screen and (min-width: 768px){
    header{margin:33px 0 3px;}
    .dropdown-phone{display: none !important;}
    .navbar-header .navbar-brand{margin:0 auto !important;padding:0;display:block;width:547px;height:50px;background:url(img/logo.png) no-repeat;background-size:547px auto;}
    .navbar-nav>li{margin-right:1%;width:15.8%;height:46px;line-height:30px;border-top:1px solid #efefef;text-align: center;}
    .navbar-nav>li:last-child{margin-right:0;}
    .navbar-nav>li>a.f-child{height:46px;line-height:30px;padding:2px 0 0;}
    .navbar-nav>li.active,.navbar-nav>li:hover{border-top:4px solid #756464;}
    .navbar-nav>li.active a.f-child,.navbar-nav>li:hover a.f-child{line-height:24px;}
    .dropdown-menu{border:none;margin-top:2px !important;border-radius:0;padding:0 8px;}
    .dropdown-menu>li{height:40px;line-height:40px;border-top:1px solid #efefef;text-align: center;}
    .dropdown-menu>li:hover{background:none;border-top:4px solid #756464;}
    .dropdown-menu>li a{padding: 0;line-height: 40px;color:#ababab;}
    .dropdown-menu>li:hover a{line-height: 34px;background:none !important;color:#756464 !important;}
}

@media only screen and (min-width: 0px) and (max-width: 768px){
    header{margin-bottom:15px;}
    .navbar-header .navbar-toggle{padding:15px 15px;margin-top:20px;}
    .navbar-nav{width:100%;}
    .navbar-nav>li>a{padding-left:0;}
    .navbar-toggle .icon-bar+.icon-bar{margin-top:8px;}
    .dropdown-web{display: none !important;}
    .navbar-header .navbar-brand{display:block;padding:0;margin-top:30px !important;background:url(img/logo_wap.png) no-repeat -10px 0;}
    .navbar-header .navbar-site{position:relative;top:-15px;right:10px;text-align: right;}

    .w1000{width:100% !important;}
}

/*6+*/
@media (min-device-width : 414px) and (max-device-width : 768px){
    .navbar-header .navbar-brand{width:228px;height:73px;background-size:228px auto;}
}

/*6-*/
@media (min-device-width : 0) and (max-device-width : 413px){
    .navbar-header .navbar-toggle{margin-right:5px;padding:10px;}
    .navbar-header .navbar-brand{width:200px;height:64px;background-size:200px auto;}
    .navbar-header .navbar-site{top:-20px;right: 8px;}
    .navbar-header .navbar-site a{font-size:18px;}
}

